body {
  background: url("../media/center.jpg");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: black;
  font-family:sans-serif;
  font-size: 18px;
}
 

a {
  color: black;
  text-decoration: none;
}


.ctright {
  width: 70%;
  margin: auto;
}

h1 {
  margin-top: 140px;
  text-align: center;
}

.ctright img {
  float: left;

  margin-top: 33px;
  margin-left: 50px;
  margin-bottom: 20px;
  margin-right: 20px;
  height: 320px;
  width: 240px;
  border-radius: 3px;

}

.about {
  margin-right: 50px;
  margin-top: 50px;
  margin-left: 50px;

}



@media(max-width: 930px) {

  .ctright {

  width: 90%;
  }

}

@media(max-width: 630px) {
  .ctright {
  width: 100%;
  }
  
}

@media(max-width: 480px) {
	.ctright img {
	  float: none;
      width: 50%;
      height:auto;
      margin-left: 25%;

    }
	h1 {
      font-size: 20px;
    }
	.about {
  margin-top: 20px;
}
}

@media(max-width: 411px) {

  .ctright img {
      width: 64%;
      margin-left: 18%;
  }
}
