

footer {
	height: 180px;
	background-color: #36453f;
	color: white;
    padding: 10px 0;
	clear: both;
	position: relative;
	left: -10px;
	right: -10px;
	bottom: -10px;
	width: calc(100% + 18px)

}

.f-col {
	display: inline-block;
	width: 21%;
	padding: 15px 6%;
	text-align: center;
	vertical-align: top;
}


@media(max-width: 1020px) {
  .f-col {
	  width: 32%;
	  	padding: 15px 0;
}
}

@media(max-width: 680px) {
    .f-col {
	  display: block;
	  width: 70%;
	  margin: 40px auto;
  }
	footer {
	 height: auto;
	 padding-bottom: 40px;
	 margin-bottom: -40px;
   }
}



@media(max-width: 411px) {

  .frow {
    margin-top: 0;
  }
}
