body {
    color: black;
    font-family:sans-serif;
    font-size: 18px;
}

h2 {
	font-size: 24px;
}

html,body {
	margin: 0;
	padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

p {
	line-height: 1.5em;
}	

#mobile-indicator {
    display: none;
}


#nextpage, #prevpage {
	display: none;
}




/*/////////////// Slider /////////////////*/

#slides {
    position: relative;
    padding: 0px;
    margin: 0px;
    list-style-type: none;

}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    opacity: 0;
    z-index: 1;
	display: flex;
	justify-content: center;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing {
    opacity: 1;
    z-index: 2;
}


.slide-text {
  text-align: center;
  font-size: 56px;
}

	#slides {
		top:-50px;
	}




@media(max-width: 630px) {
		

	#slides {
		height: 600px;
		top: 250px;
	}
		.slide-text {
		font-size: 42px;
	}
}

@media(max-width: 450px) {
  #slides {
    height: 550px;
  }
}
/*///////// End Slider ///////////////////*/



/*//////////// Headeer///////////*/

header {
  height: 110px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.header-1 {
  font-size: 32px;
  font-family: Century Gothic;
  margin-left: 40px;
  text-shadow: 2px 2px 2px white;
}

.logo-1 {
  margin-top: 10px;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  letter-spacing: 1.8px;
}

.logo-2 {
  font-size: 28px;	
  padding-top: 0;
  margin-top: 0;
  letter-spacing: -1.2px;
}

#menu {
 position: absolute;
 bottom: 16px;
 right: 0;
 margin-right: 0;
 text-align: center;
 padding-top: 12px;
 font-size: 18px;
}


.menu-btn:hover {
  filter:brightness(150%);
}

.menu-btn {
	margin-right: 40px;
    margin-left: 20px;
	color: black;
}

.header-1, #menu, .menu-btn {
  display: inline-block;
}

@media(max-width: 820px) {

.menu-btn {
	margin-right: 10px;
	margin-left: 30px;
}
}

@media(max-width: 630px) {
  #menu {
	bottom: -20px;
	left: 50%;
    transform: translate(-50%);
    width: 100%;
  }
  .header-1 {
    width: 100%;
    margin: auto;
    text-align: center;
  }
}

@media(max-width: 450px) {
	#menu {
		bottom: -30px;
	}
	.menu-btn {
		margin-right: 20px;
		margin-left: 20px;
	}
}

/*////////// End Header ///////////////*/


/*// Frames ///*/

.pt-page-1 {
    background: url("../media/center.jpg");
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	}

.pt-page-2 {
    background: deepskyblue;
	color: white;
}


/*////// Rows & Columns /////*/

#row-1, #row-2, #row-3 {
        height: 100%;
}

.col-1, .col-2 {
	vertical-align: top;
	width: 49%;
	display: inline-block;
	
	
}

#row-1 {
    display: flex;
    align-items: center;

}

#row-1 img{
	display: block;
	margin: auto;
	height: 60px;
	margin-top: 40px;
        margin-bottom: 70px;
}

#row-1 .col-2 h2, #row-1 .col-2 p {
	margin: 20px 15%;
}

#row-2 .col-1 {
	color: white;
}	
	
#row-2 img {
	max-width: 100%
}

#row-2 {
	background-color: #B25B00;
}

#row-2 h2 {
	text-align: center;
        margin-bottom: 10px;
}

#row-2 p {
	width: 40%;
	margin: 40px auto 0;
}

#row-2 .col-2 {
        vertical-align: middle;
        padding: 80px 0;
}

#row-2 {
    display: flex;
    align-items: center;
}

#row-3 {
	background: url("../media/lightning.jpg");
	background-size: cover;
        padding: 0 0 50px 0;
}

  #row-3 .col-1 p, #row-3 .col-2 p, #row-3 .col-2 ul, #row-3 h2 {
	background-color: black;
	text-shadow: none;
	opacity: .54;
	color: white;
}

#row-3 .col-1 p, #row-3 .col-2 p, #row-3 .col-2 ul {
	padding: 20px 15px;
	width: 42%;
	margin: 15px auto;
}



#row-3 h2{
	display: inline-block;
	text-align: center;
	padding: 8px;
	margin: 15px;
	position: relative;
	width:340px;
    left: calc(50% - 180px);
}

#row-3 ul {
	max-height: 275px;
	
}

#row-3 li {
	
	list-style: none;
	margin: 10px 0;
}
	
/*/////// End Rows /////*/





/*/////////////// Media Queries ///////////////*/


@media(max-width: 1070px) {
	#row-3 .col-1 p, #row-3 .col-2 p, #row-3 .col-2 ul, #row-2 p {
	   width: 50%;
   }
}

@media(max-width: 930px) {

  body {
	 font-size: 16px;
  }
	#row-3 .col-1 p, #row-3 .col-2 ul {
	  margin-top: 35px;
  }
}



@media(max-width: 820px) {
   #row-3 .col-1 p, #row-3 .col-2 p, #row-3 .col-2 ul {
   width: 60%;
   }
   h2 {
	   font-size: 22px;
   }
   #row-1 .col-2 h2, #row-1 .col-2 p {
	margin: 20px 10%;
	}
}




@media(max-width: 630px) {
   #row-1, #row-2 {
	display: block;
   }
   #row-1 {
      padding-top: 40px;
   }
   #row-1 .col-2 h2, #row-1 .col-2 p, .col-1, .col-2, #row-2 p, .f-col {
	  display: block;
	  width: 80%;
	  margin: 40px auto;
  }
  #row-3 .col-1 p, #row-3 .col-2 p, #row-3 .col-2 ul, #row-3 .col-1,  #row-3 .col-2 {
	  display: block;
	  width: 80%;
	  margin: 15px auto;
  }
    #row-3, footer {
	 height: auto;
	 padding-bottom: 40px;
	 margin-bottom: -40px;
   }
   #row-3 {
   	display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
	}
	#row-1 h2 {
		text-align: center;
	}
  #row-1 {
	  padding-bottom: 10px;
  }
  #row-2 .col-2 {
	  padding-bottom: 0;
          padding-top: 40px;

  }
  #row-2 { 
	padding-top: 5px;
  }
  #row-3 h2{
	width: 80%;
	position: static;

}




